.menu {
    position: fixed;
    width: 15%;
    height: 100%;
    left: 1%;
    top: 1%;
    background: #ffffff;
    z-index:8;
    border-radius: 10px;
}

.dws-ul{
    display:block;
}

.dws-li {
    list-style-type: none;
    height: 25%;
}
.dws-li a{
    line-height: 2.5;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(0, 32, 51, 0.4);
}

@media screen and (max-width: 1152px){
    .dws-ul li a span{
		display: none;
	}
    .menu {
        width: 10%;
        height: 100%;
    }
    .dws-ul li a{
        border-bottom:solid;
    }
}


@media screen and (min-width: 1152px){
    
}










.reg {
    position: absolute;
    width: 240px;
    height: 56px;

    background: #C6103C;
    border-radius: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;

    color: #FFFFFF;
}

.reg2 {
    font-family: Roboto;
    display: block  ;
    position: absolute;
    width: 240px;
    height: 56px;
    color: #FFFFFF;
    text-align: center  ;
    background: #3297FF;
    border: 1px solid #3297FF;
    box-sizing: border-box;
    border-radius: 40px;
    top: 300px;
}


.text1 {
    top: 40%;
    font-family: Segoe UI;
    color: #FFFFFF;
}
.zagl1 {
    top: 20%;
    font-family: Cocon-Regular;    
    color: #FFFFFF;
    font-style: normal;
font-weight: normal;
}

.zagl2{
    font-family: Cocon-Regular;
    color: #1B4698;
    font-style: normal;
font-weight: normal;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
  }

  
.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    min-width: 320px;
}
  
.countdown-item {
    color: rgb(248, 248, 248);
    padding: 6px;
    min-width: 65px;
}
  
.expired {
    color: rgb(248, 248, 248);
    margin: 0 auto;
}

.Datec{
    padding-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;

    color: #60829A;
}
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    align-items: center;
    width:50%;
    margin:0 auto;
    
}

.card {
    display: grid;
    align-items: center;
    grid-template-rows: max-content 200px 1fr;
    margin:0 auto;
    
}

.card img {
    align-items: center;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.image-controlled {
    position: relative; 
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.image-controlled img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.content {
    align-items: center;
    text-align: center;
    margin:0 auto;
}

.content2 {
    position: absolute;
    text-align: left;
    top: 30%; left: 40% ;
    width: 50%;
    align-items: center;
    margin:0 auto;
}

.content3 {
    position: relative;
    text-align: center;
    align-items: center;

}

.content4 {
    position: absolute;
    text-align: center;
    top:5%; left: 20% ; right: 20%;
    width: 50%;
    align-items: center;
    margin:0 auto;
}

.open-button {
    margin:0 auto;
    font-weight: bold;
    border: none;
    cursor: pointer;
    position: relative;
  }
  
.btn-cancel {
    position: absolute ;
    margin-right: 12%;
    right: 0;
    margin-top: 4%;
    background: transparent;
    border: none;
}

.btn-cancel2 {
    position: absolute ;
    margin-right: 12%;
    right: -100px;
    top: -50px;
    margin-top: 4%;
    background: transparent;
    border: none;
}

.btn-cancel:hover {
    background: transparent;
    border: none;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 1000px;
}

.popup1 {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
    backdrop-filter: contrast(0);
    
}

.popup-content{
    object-fit: fill;
    margin-top: 7%;
    height: 100%;
    height: 100%;
}
  
.slider{
    display: block;
    max-width: 60%;
    position: relative;
    margin: auto;
    height: 100%;
}

.slider .item img {
    object-fit: fill;
    width: 100%;

}

.popapglavn{
    backdrop-filter: brightness(0);
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;
    height: 100%;
    width: 100%;
}
.popup-card{
    width: 360px;
    height: 460px;
    position: fixed;
    left: 40%;
    bottom: 30%;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
    background: #FFFFFF;
    border-radius: 20px;

}

.text-card2{
    padding-left: 20px;
    color: rgba(0, 32, 51, 0.7);
    overflow: scroll; /* Добавляем полосы прокрутки */
    overflow-x:hidden;
    width: 340px; /* Ширина блока */
    height: 300px; /* Высота блока */
    padding: 20px;
    line-height: 1.3em;
    height: 6em;
}

.slider .previous, .slider .next {
    background-color: rgba(0, 0, 0, 1);
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 15px;
    height: 15px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 0.6s ease;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
.slider .next {
    right: 20px;
    border-radius: 50%;
}
.slider .previous {
    left: 20px;
    border-radius: 50%;
}

.slider .item {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: 0.4
    }
    to {
        opacity: 1
    }
}

.content-card{

    width: 300px;
    height: 440px;
    background-color: #F2F5F9;
    border-radius: 12px;
}
.content-cards{
    text-align: left;
}
.container-card{
    text-align: center;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.card_{

    list-style-type: none;
    width: 360px;
    height: 500px;

}

.content-card img{
    align-items: center;
    object-fit: cover;
    width: 100%;

}


.zagl-card{
    padding-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;



color: #000000;
}

.text-card {
    padding-left: 20px;
    color: rgba(0, 32, 51, 0.7);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 3.9em;
}

.MSK{
    position: absolute;
    padding-left: 140px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 100%;

    color: #60829A;
}
.open-card{
    margin:0 auto;
    width: 80%;
    width: 260px;
    height: 50px;
    margin-left: 20px;

    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    background: #F2F5F9;
    border: 1px solid #3486E8;
    box-sizing: border-box;
    border-radius: 40px;

    color: #3486E8;
}

ul {
    list-style: none; 
  }

.sortmenu{
    font-family: Segoe UI;
    text-align: left;
    margin-left: 24%;
    color: #3297FF;
}
.sortmenu > li {
    cursor: pointer;
    display: inline-block;
    position: relative;
  }

.subsortmenu li:hover {
    background-color: #ccc;
    }
.subsortmenu li:active {
    opacity: 0.5;
}
.subsortmenu {
    position: absolute;
    top: 100%;
    text-align: left;
    left: 0;
    width: 140%;
    z-index: 10;
    color: #626262;
    background-color: #ffffff;
    border-radius: 2px;
    display: none;
}
  
ul li:hover .subsortmenu {
    display: block;
}

.subsortmenu li{
    line-height: 1.5;
    width: 100%;
    text-align: left;
}

#content-cards2{
    display: none;
}

.zagruska-proizvod-btn{ 
    margin:0 auto;
    width: 80%;
    width: 260px;
    height: 50px;
    margin-left: 44%;
    margin-top: 50px;


    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 120%;
    background-color: #F2F5F9;
    border: 1px solid #3486E8;
    box-sizing: border-box;
    border-radius: 40px;
    color: #3486E8;
}

#zagruska-proizvod{
    display: none;
}
#zagruska-proizvods{
    display: none;
}
#content-cards1 ul li:nth-child(1n + 7) {
    max-height: 0;
    opacity: 1;
    display: none;
    transition: 0.1s ease-in;
}

#content-cards1 #zagruska-proizvod:checked ~ ul li:nth-child(1n + 5) {
    max-height: 999px;
    opacity: 1;
    transition: 0.2s ease-in;
    display: block;
}

#content-cards2 ul li:nth-child(1n + 7) {
    max-height: 0;
    opacity: 1;
    display: none;
    transition: 0.1s ease-in;
}

#content-cards2 #zagruska-proizvods:checked ~ ul li:nth-child(1n + 5) {
    max-height: 999px;
    opacity: 1;
    transition: 0.2s ease-in;
    display: block;
}

@font-face {
    font-family: Cocon-Regular; 
    src: url(2921-font.otf); 
}
@font-face {
    font-family: Segoe UI; 
    src: url(SegoeUI.ttf); 
}
@font-face {
    font-family: Roboto; 
    src: url(Roboto.ttf); 
}

.btn-card1{
    border: none;
    background-color: #ffffff;
    border-bottom: #1B4698;
    color: #1B4698;
    width: 240px;
    height: 56px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    border-bottom: 2px solid #1B4698;
}
#kards2{
    opacity: 0.5;

}